:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #242424;
  border-radius: 6px;
  border: 1px solid rebeccapurple;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#app {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
}

.todo {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid rebeccapurple;
  width: 20vw;
  height: auto;
}

.completed {
  display: flex;
  justify-content: space-between
}